<h1 class="cupido-heading">{{form.text.check_title}}</h1>

<div class="content-block text-block">

  {{#unless allValid}}

    <span>{{form.text.check_not_all_valid}}</span>

  {{else}}
    <span>{{form.text.check}}</span>
    <br><br>
    <button class="preview" {{action 'preview'}}>{{form.text.check_example}}</button>
    <br><br>

    {{applicationController.model.form.map.voornaam.name}} : <br>
    <b>{{applicationController.model.form.map.voornaam.value}}</b>
    <br><br>
    {{applicationController.model.form.map.tussenvoegsel.name}} : <br>
    <b>{{applicationController.model.form.map.tussenvoegsel.value}}</b>
    <br><br>
    {{applicationController.model.form.map.achternaam.name}} : <br>
    <b>{{applicationController.model.form.map.achternaam.value}}</b>
    <br><br>
    {{applicationController.model.form.map.straat.name}} : <br>
    <b>{{applicationController.model.form.map.straat.value}}</b>
    <br><br>
    {{applicationController.model.form.map.huisnummer.name}} : <br>
    <b>{{applicationController.model.form.map.huisnummer.value}}</b>
    <br><br>
    {{applicationController.model.form.map.postcode.name}} : <br>
    <b>{{applicationController.model.form.map.postcode.value}}</b>
    <br><br>
    {{applicationController.model.form.map.woonplaats.name}} : <br>
    <b>{{applicationController.model.form.map.woonplaats.value}}</b>
    <br><br>
    {{applicationController.model.form.map.geboortedatum.name}} : <br>
    <b>{{applicationController.model.form.map.geboortedatum.value}}</b>
    <br><br>
    {{applicationController.model.form.map.geboorteplaats.name}} : <br>
    <b>{{applicationController.model.form.map.geboorteplaats.value}}</b>
    <br><br>
    {{applicationController.model.form.map.email.name}} : <br>
    <b>{{applicationController.model.form.map.email.value}}</b>
    <br><br>
    {{applicationController.model.form.map.handtekening.name}} : <br>
    <img style="background-color:white;" src={{applicationController.model.form.map.handtekening.value}}>
    <br><br>


    <b>{{applicationController.model.form.map.captchaResponse.name}}</b> <br>

    {{#unless recaptchaItem.isValid}}
      {{applicationController.model.form.map.captchaResponse.instruction}}
    {{/unless}}

    <br>
    {{recaptcha-widget formItem=recaptchaItem}}


  {{/unless}}

</div>

<div class="content-block button-nav">
  <button class="back" {{action 'back'}}>{{form.text.button_back}}</button>

  {{#if allValid}}

    {{#if recaptchaItem.isValid}}
      {{#if readyToSend}}
        <button class="send float-right" {{action 'send'}}>{{form.text.check_button_send}}</button>
      {{/if}}
    {{else}}
      <button class="send disabled float-right" {{action 'sendNotVerified'}}>{{form.text.check_button_send}}</button>
    {{/if}}

  {{/if}}

</div>
