<h1>Controleren</h1>

<div class="content-block text-block">

  {{#unless allValid}}

    <span>Het formulier bevat fouten of niet alle verplichte velden zijn ingevuld!</span>
    <br><br>
    <span>Druk op 'Terug' om het formulier aan te vullen.</span>

  {{else}}
    <span>Kijk uw gegevens goed na. U kunt ook een voorbeeld van het ingevulde formulier bekijken.</span>
    <br><br>

    {{applicationController.model.form.map.voornaam.name}} : <br>
    <b>{{applicationController.model.form.map.voornaam.value}}</b>
    <br><br>
    {{applicationController.model.form.map.tussenvoegsel.name}} : <br>
    <b>{{applicationController.model.form.map.tussenvoegsel.value}}</b>
    <br><br>
    {{applicationController.model.form.map.achternaam.name}} : <br>
    <b>{{applicationController.model.form.map.achternaam.value}}</b>
    <br><br>
    {{applicationController.model.form.map.straat.name}} : <br>
    <b>{{applicationController.model.form.map.straat.value}}</b>
    <br><br>
    {{applicationController.model.form.map.huisnummer.name}} : <br>
    <b>{{applicationController.model.form.map.huisnummer.value}}</b>
    <br><br>
    {{applicationController.model.form.map.postcode.name}} : <br>
    <b>{{applicationController.model.form.map.postcode.value}}</b>
    <br><br>
    {{applicationController.model.form.map.woonplaats.name}} : <br>
    <b>{{applicationController.model.form.map.woonplaats.value}}</b>
    <br><br>
    {{applicationController.model.form.map.geboortedatum.name}} : <br>
    <b>{{applicationController.model.form.map.geboortedatum.value}}</b>
    <br><br>
    {{applicationController.model.form.map.geboorteplaats.name}} : <br>
    <b>{{applicationController.model.form.map.geboorteplaats.value}}</b>
    <br><br>
    {{applicationController.model.form.map.handtekening.name}} : <br>
    <img style="background-color:white;" src={{applicationController.model.form.map.handtekening.value}}>
    <br><br>


    <b>{{applicationController.model.form.map.captchaResponse.name}}</b> <br>

    {{#unless recaptchaItem.isValid}}
      {{applicationController.model.form.map.captchaResponse.instruction}}
    {{/unless}}

    <br>
    {{recaptcha-widget formItem=recaptchaItem}}


  {{/unless}}

</div>

<div class="content-block button-nav">
  <button class="back" {{action 'back'}}>Terug</button>

  {{#if allValid}}

    {{#if recaptchaItem.isValid}}
      <button class="send float-right" {{action 'send'}}>Versturen</button>
    {{/if}}

    <button class="preview float-right" {{action 'preview'}}>Voorbeeld</button>
  {{/if}}

</div>
