<div class="route-complete container-fluid text-center">

  <div class="row success-message">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h1><i class="fas fa-check"></i> Je ondersteuningsverklaring is succesvol verzonden!</h1>
    </div>
    <div class="col-md-2"></div>
  </div>

  <div class="row social-message">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <h3>Volgende stap: deel dit met anderen zodat zij ook tekenen!</h3>
      <hr/>
      <div class="share-buttons">
        <a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fhartvoordemocratie.nl{{refString}}&amp;t=Teken%20ook%20voor%20een%20referendum%20over%20de%20donorwet!" target="_blank"><i class="fab fa-facebook-f"></i> Facebook</a> &nbsp;
        <a class="twitter" href="https://www.twitter.com/intent/tweet?text=Teken%20ook%20voor%20een%20referendum%20over%20de%20donorwet!%20https%3A%2F%2Fhartvoordemocratie.nl{{refString}}" target="_blank"><i class="fab fa-twitter"></i> Twitter</a> &nbsp;
        <a class="whatsapp" href="whatsapp://send?text=Teken%20ook%20voor%20een%20referendum%20over%20de%20donorwet!%20https%3A%2F%2Fhartvoordemocratie.nl{{refString}}" target="_blank"><i class="fab fa-whatsapp"></i> WhatsApp</a> &nbsp;
        <a class="email" href="mailto:?subject=Teken%20ook%20voor%20een%20referendum%20over%20de%20donorwet!%20https%3A%2F%2Fhartvoordemocratie.nl{{refString}}" target="_blank"><i class="fas fa-envelope"></i> Mail</a>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>

  <div class="row donorregister-message">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h1>Orgaandonatie redt levens!</h1>
      <hr/>
      <p class="lead">Orgaandonatie redt jaarlijks vele levens. Donoren zijn er nooit te veel, maar orgaandonatie is een hele persoonlijke en emotionele kwestie.</p>
      <p>Daarom is het belangrijk dat iedere Nederlander zijn of haar keuze vastlegt. Een referendum over de donorwet zal helpen om de kennis en bewustwording over orgaandonatie te vergroten.</p>
      <div class="row rounded" style="background-color: #22265c;">
        <div class="col-md-12">    
          <p class="lead" style="color:#fff;">
            Heeft u eigenlijk al eens nagedacht over donorschap? In het nationale donorregister kunt u verschillende opties bekijken 
            en uw keuze voor <span class="highlight">‘ja’</span>, <span class="highlight">‘nee’</span> of <span class="highlight">’dat mogen mijn nabestaanden bepalen’</span> vastleggen. 
            Neem eens een kijkje:
            </p>
          <a onclick={{action 'clickLink'}} style="white-space: normal;" href="https://www.donorregister.nl/" rel="noreferrer" target="_blank" class="btn btn-primary btn-lg">GA NAAR HET DONORREGISTER</a>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p><small>Dit initiatief is powered by</small> <img src="assets/GeenPeil-logo-highres.png" height="25px" class="rounded" style="background-color: #22265c; padding: 5px;" /></p>
    </div>
  </div>

</div>
