<div class="route-complete container-fluid text-center">

  <div class="row success-message">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h1><i class="fas fa-check"></i> {{form.text.complete_success}}</h1>
    </div>
    <div class="col-md-2"></div>
  </div>

  <div class="row social-message">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <h3>{{form.text.complete_share}}</h3>
      <hr/>
      <div class="share-buttons">
        <a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u={{form.text.complete_social_link}}{{refString}}&amp;t={{form.text.complete_social_message}}" target="_blank"><i class="fab fa-facebook-f"></i> Facebook</a> &nbsp;
        <a class="twitter" href="https://www.twitter.com/intent/tweet?text={{form.text.complete_social_message}}%20{{form.text.complete_social_link}}{{refString}}" target="_blank"><i class="fab fa-twitter"></i> Twitter</a> &nbsp;
        <a class="whatsapp" href="whatsapp://send?text={{form.text.complete_social_message}}%20{{form.text.complete_social_link}}{{refString}}" target="_blank"><i class="fab fa-whatsapp"></i> WhatsApp</a> &nbsp;
        <a class="email" href="mailto:?subject={{form.text.complete_social_message}}%20{{form.text.complete_social_link}}{{refString}}" target="_blank"><i class="fas fa-envelope"></i> Mail</a>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>

  <div class="row donorregister-message">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h1>{{form.text.complete_donation_heading}}</h1>
      <hr/>
      <p class="lead">{{form.text.complete_donation_1}}</p>
      <p>{{form.text.complete_donation_2}}</p>
      <div class="row rounded" style="background-color: #22265c;">
        <div class="col-md-12">    
          <p class="lead" style="color:#fff;">
            {{{form.text.complete_donation_3}}}
          </p>
          <a onclick={{action 'clickLink'}} style="white-space: normal;" href="https://www.donorregister.nl/" rel="noreferrer" target="_blank" class="btn btn-primary btn-lg">{{form.text.complete_donation_button_link}}</a>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p><small>{{text.form.complete_powered_by}}</small> <img src="assets/GeenPeil-logo-highres.png" height="25px" class="rounded" style="background-color: #22265c; padding: 5px;" /></p>
    </div>
  </div>

</div>
