<h1>Formulier invullen</h1>

<div class="content-block text-block">
  <span>{{form.text.disclaimer_1}}</span>
  <br><br>
  <span><i>{{form.text.disclaimer_2}}</i></span>
  <br><br>
  <span>{{form.text.disclaimer_3}}</span>
  <br><br>
  <span>{{form.text.disclaimer_4}}</span>
  <br><br>
  <span>{{form.text.disclaimer_5}}</span>
  <br><br>
  <span>{{form.text.disclaimer_6}}</span>
</div>

<div class="content-block button-nav">
  <button class="decline" {{action 'decline'}}>Terug</button>
  <button class="accept float-right" {{action 'accept'}}>Verder</button>
</div>
