<h1 class="cupido-heading">{{form.text.disclaimer_title}}</h1>

<div class="content-block text-block">
  <span>{{{form.text.disclaimer_intro1}}}</span>
  <br><br>
</div>
<div class="content-block text-block">
  <hr><br>
  <span>{{{form.text.disclaimer_1}}}</span>
  <br><br>
  <span><i>{{{form.text.disclaimer_2}}}</i></span>
  <br><br>
  <span>{{{form.text.disclaimer_3}}}</span>
  <br><br>
  <span>{{{form.text.disclaimer_4}}}</span>
  <br><br>
  <span>{{{form.text.disclaimer_5}}}</span>
  <br><br>
  <span>{{{form.text.disclaimer_6}}}</span>
</div>

<div class="content-block consent">
  <div>
    {{{form.text.disclaimer_final}}}
  </div>
  <label>{{input type="checkbox" checked=consent}}{{form.text.disclaimer_button_accept}}</label>
</div>

<div class="content-block button-nav">
  <button class="decline" {{action 'decline'}}>{{form.text.button_back}}</button>
  {{#if consent}}
    <button class="accept float-right" {{action 'accept'}}>{{form.text.button_continue}}</button>
  {{else}}
    <button class="accept disabled float-right" {{action 'acceptWithoutConsent'}}>{{form.text.button_continue}}</button>
  {{/if}}
</div>
