<h1 class="cupido-heading">Formulier invullen</h1>

<div class="content-block text-block">
  <span>{{form.text.disclaimer_intro1}}</span>
  <br><br>
</div>
<div class="content-block text-block">
  <hr><br>
  <span>{{form.text.disclaimer_1}}</span>
  <br><br>
  <span><i>{{form.text.disclaimer_2}}</i></span>
  <br><br>
  <span>{{form.text.disclaimer_3}}</span>
  <br><br>
  <span>{{form.text.disclaimer_4}}</span>
  <br><br>
  <span>{{form.text.disclaimer_5}}</span>
  <br><br>
  <span>{{form.text.disclaimer_6}}</span>
</div>

<div class="content-block consent">
  <div>
    Door het aanvinken van het onderstaande veld gaat u akkoord met deze voorwaarden en de <a href="https://hartvoordemocratie.nl/privacy.html">Privacyverklaring</a>.
  </div>
  <label>{{input type="checkbox" checked=consent}}Ik ga akkoord</label>
</div>

<div class="content-block button-nav">
  <button class="decline" {{action 'decline'}}>Terug</button>
  {{#if consent}}
    <button class="accept float-right" {{action 'accept'}}>Verder</button>
  {{else}}
    <button class="accept disabled float-right" {{action 'acceptWithoutConsent'}}>Verder</button>
  {{/if}}
</div>
