<h1 class="cupido-heading">{{form.text.form_part}} {{sectionNumber}}{{form.text.form_of}}{{totalSections}}</h1>

<div class="content-block">
  {{#each formItems as |formItem|}}
    {{generic-field formItem=formItem preferences=preferences}}
  {{/each}}
</div>

<div class="content-block button-nav">

  <button class="continue float-right" {{action 'continue'}}>
    {{#if isLastSection}}
      {{form.text.button_continue}}
    {{else}}
      {{form.text.button_continue}}
    {{/if}}
  </button>

  <button class="cancel" {{action 'cancel'}}>
    {{#if isFirstSection}}
      {{form.text.button_stop}}
    {{else}}
      {{form.text.button_back}}
    {{/if}}
  </button>

</div>
