<div class="fixed-header">
  <h1 class="cupido-heading">
    {{form.text.preview_title}}
  </h1>
  <button class="close-preview float-right" {{action 'close'}}>{{form.text.button_close}}</button>
</div>

<div style={{containerWidth}} class="preview-container fixed-header-content">

  <img class="preview-form-image" src="ext/33506-definitief-vl-nl.png">

  {{#each completedFormItems as |formItem|}}

    {{generic-display formItem=formItem properties=properties}}

  {{/each}}

</div>
