<div {{action 'clicked'}} class="signature-preview">
  <img class="signature-preview-image"  src={{formItem.value}}>
</div>
<br>
<span>{{formItem.instruction}}</span>
{{#if showEditor}}
  <div class="signature-editor">
    <div class="button-container">
      <button {{action 'toggleEditor'}}>Klaar</button>
      <button {{action 'clear'}}>Opnieuw</button>
    </div>
    <canvas id="can" width={{width}} height={{height}}></canvas>

  </div>
{{/if}}
