<canvas id="can" width={{width}} height={{height}}></canvas>
<img id="canvasimg" style="display:none;">
<button {{action 'erase'}}>ICON: Bin</button><button {{action 'undo'}}>ICON: Undo</button><button {{action 'redo'}}>ICON: Redo</button>
