<br>
<span class="instruction">{{formItem.instruction}}</span>
<br><br>
<span class="explanation">{{formItem.explanation}}</span>
<br>
{{#if formItem.isValid}}
  <br>
  <div class="signature-preview">
    <img class="signature-preview-image"  src={{formItem.value}}>
  </div>
{{/if}}

<button class="sign-button" {{action 'clicked'}}>
  {{#if formItem.isValid}}
    {{formItem.sign_again}}
  {{else}}
    {{formItem.sign}}
  {{/if}}
</button>


{{!-- Pop-over editor --}}
{{#if showEditor}}
  <div class="signature-editor">
    <div class="button-container">
      <button {{action 'closeEditor'}}>{{formItem.done}}</button>
      <button {{action 'clear'}}>{{formItem.clear}}</button>
    </div>
    <canvas id="can" width={{width}} height={{height}}></canvas>
  </div>
{{/if}}
