<img class="image-preview" {{action 'clicked'}} src={{formItem.value}} width={{width}} height={{height}}>
<br>
<span>{{formItem.instruction}}</span>
{{#if showEditor}}
  <div class="signature-editor">
    <div class="button-container">
      <button {{action 'toggleEditor'}}>Klaar</button>
      <button {{action 'clear'}}>Opnieuw</button>
    </div>
    <canvas id="can" width={{width}} height={{height}}></canvas>

  </div>
{{/if}}
